.post {
  padding: 0 10% 0 10%;
  line-height: 1.5em;
}

.post__content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.post__content img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: lightgrey;
  width: 50%;
  padding: 1%;
  font-size: 0.9em;
  text-align: center;
}