@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #FEF3F6;
  font-size: 1.3em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: #f5f7f9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding-left: 1em;
  border-left: 2px solid #69c;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: cornflowerblue;
  transition: all 0.3s;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
